anyio==3.5.0
certifi==2021.10.8
click==7.1.2
fastapi==0.101.0
h11==0.14.0
httpcore==0.16.3
httpx==0.24.1
idna==3.3
pydantic==1.9.0
reasoner-pydantic==4.1.4
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.27.0
typing_extensions==4.6.3
uvicorn==0.23.2
